/* default  setup */ 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}
h1, h2, h3, h4,h5, h6, span{
  color: "1C2321";
  text-align: center;
  line-height:1.25;
} 

p{
  line-height:1.25;
  font-size: 16px;
} 
li{
list-style-type: none;
}
a{
  text-decoration: none;
  position: relative;
}
img{
  width:100%;
}


/*reusable css*/



.container--big-row{
  width:100%;
  max-width:1400px;
  margin:0 auto;
      
}
.container--med-row{
    width:100%;
  max-width:800px;
  margin:0 auto;
 
}
.container--small-row{
    width:100%;
  max-width:600px;
  margin:0 auto;
}

.no-cursor{
  cursor: not-allowed;
}
button{
  cursor: pointer;
}

button:active{
  transform: translateY(1px);
}
.btn{
  border: none;
  color: #fff;
background-color: #174873;
border-radius: 50px ;
padding:  16px 32px;
font-weight: 600;
font-size: 16px;
transition: all .3s ease;
}
.btn:hover{
color: #e3e3e3;
background-color: #103352;
}



.link__hover-line{
  transition: all .3s ease;
}
.link__hover-line:hover{
  color: #174873;
}
.link__hover-line:after{
  content: "";
  position: absolute;
  height: 2px;
  background-color: #174873;
  bottom: -3px;
  left:0;
  width:100%;
  opacity: 0;
  transition: all .3s ease;
  }
  .link__hover-line:hover:after{
    opacity: 100%;
  }
  .special-color{
    color:#174873
  }

/*Nav Comp*/
.nav__container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 12px;
 height: 80px;
}
.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:24px;
  font-weight: 900;
  cursor: pointer;
  
}
.nav_logo-text{
  color:#174873;
}
.logo:hover .nav_logo-text{
color:#6320EE;
}

.logo__container{
  
   width:80px;
}

ul{
  display:flex;
 
}
.nav_link{
  margin-right:32px;
  color:#1C2321;
}
.nav__link--primary{
color: #fff;
background-color: #174873;
border-radius: 50px ;
padding:  12px 32px;
font-weight: 600;
transition: all .3s ease;

}
.nav__link--primary:hover{
  color: #e3e3e3;
background-color: #103352;
}
/*Started Comp*/
.started--container{
padding: 96px 0;
  display: flex;
  justify-content:space-between;
  align-items: center; 
}
.started-title{
  margin-bottom: 20px;
  text-align: left;
}
.started-para{
  line-height:1.5;
}
.started--description{
  display: flex;
  flex-direction: column;
  max-width:500px;
  
}
.input-container{
  
  border: solid #cfcdcd 2px;
  border-radius: 50px;
  padding: 5px 5px 5px 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
  transition: all .3s ease;
  
}
.input-container:hover{
  border: solid #b6b4b4 2px;
}
.input-container:focus-within {
  border: solid #174873 2px;
}
input{ 
  border: none;
  font-size: 18px;
  font-weight: 500;
  
}
input:focus{
  outline: none;
}

.started--img-container{
  width:500px;
}
.customers-text{
  color: #A0AEC0;
  font-weight: bolder;
 
}
.started--customers-container{
 margin-top: 20px;
  color: #A0AEC0;
  font-size: 64px;
}
.fa-solid{
  padding-right:15px;
}


/*Small phones, tablets, large smartphone */ 
@media (max-width: 768px){
  
} 
/*Small Phones*/
@media (max-width: 480px){
  
}

 