/* default  setup */ 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
  --scroll:0;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
*{
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

h1, h2, h3, h4,h5, h6, span{
  color: "1C2321";
  text-align: center;
  line-height:1.25;
} 

p{
  line-height:1.25;
  font-size: 16px;
} 
li{
list-style-type: none;
}
a{
  text-decoration: none;
  position: relative;
}
img{
  width:100%;
}


/*reusable css*/



.container--big-row{
  width:100%;
  max-width:1200px;
  margin:0 auto;
      
}
.container--med-row{
    width:100%;
  max-width:800px;
  margin:0 auto;
 
}
.container--small-row{
    width:100%;
  max-width:600px;
  margin:0 auto;
}

.no-cursor{
  cursor: not-allowed;
}
button{
  cursor: pointer;
}

button:active{
  transform: translateY(1px);
}
.btn{
  border: none;
  color: #F4A5AE;
background-color: #174873;
border-radius: 50px ;
padding:  16px 32px;
font-weight: 600;
font-size: 16px;
transition: all .3s ease;
}
.btn:hover{
color: #174873;
background-color: #F4A5AE;
}
.button-space{
  margin-top:32px;
}

.link__hover-line{
  transition: all .3s ease;
}
.link__hover-line:hover{
  color: #174873;
}
.link__hover-line:after{
  content: "";
  position: absolute;
  height: 2px;
  background-color: #174873;
  bottom: -3px;
  left:0;
  width:100%;
  opacity: 0;
  transition: all .3s ease;
  }
  .link__hover-line:hover:after{
    opacity: 100%;
  }
  .special-color{
    color:#174873
  }
  .special-color-1{
    color: #F4A5AE;
  }
  .special-color-2{
    color: white;
  }



/*Nav Comp*/
.nav__container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 12px;
 height: 80px;
}
.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:24px;
  font-weight: 900;
  cursor: pointer;
  
}
.nav_logo-text{
  color:#174873;
}
.logo:hover .nav_logo-text{
color:#F4A5AE;
}

.logo__container{
  
   width:80px;
}

ul{
  display:flex;
 
}
.btn__menu{
  display: none;
}
.nav_link{
  margin-right:32px;
  color:#1C2321;
}
.nav__link--primary{
color: #F4A5AE;
background-color: #174873;
border-radius: 50px ;
padding:  12px 32px;
font-weight: 600;
transition: all .3s ease;

}
.nav__link--primary:hover{
  color: #174873;
background-color: #F4A5AE;
}
/*Started Comp*/
.started--container{
  padding: 96px 0;
  display: flex;
  justify-content:space-between;
  align-items: center; 
}
.started-title{
  margin-bottom: 20px;
  text-align: left;
}
.started-para{
  line-height:1.5;
}
.content--description{
  padding-left:32px  ;
  display: flex;
  flex-direction: column;
  max-width:500px;
  
}
.input-container{
  
  border: solid #cfcdcd 2px;
  border-radius: 50px;
  padding: 5px 5px 5px 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
  transition: all .3s ease;
  align-items: center;
  
}

.input-container:hover{
  border: solid #a5a5a5 2px;
}
.input-container:focus-within {
  border: solid #F4A5AE 2px;
}
input{ 
  border: none;
  font-size: 18px;
  font-weight: 500;
  
}
input:focus{
  outline: none;
}

.content--img-container{
  max-width:600px;
}
.customers-text{
  color: #A0AEC0;
  font-weight: bolder;
 
}
.started--customers-container{
 margin-top: 20px;
  color: #A0AEC0;
  font-size: 64px;
}
.customer-icon{
  padding-right:15px;
}
/*Features */ 
.content-section{
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.content-section--1title{
  font-size:48px;
  font-weight: 800;
  margin: 20px 0px;
  margin-left: 20px;
  margin-right: 20px;
}
.content-section--2title{
  margin-left: 20px;
  margin-right: 20px;
}
.content-section--para{
color: #7c8ba1;
font-size: 18px;
max-width: 800px;
text-align:center;
font-weight: 500;
margin-left: 20px;
margin-right: 20px;
}
.content-section--para-left{
  text-align:left; 
}
.services_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  width: 100%;  
  
  
}
.services_item{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;

  width:calc(100%/3);
  padding: 32px 8px;
}
.services_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #174873 1px;
  border-radius: 50%;
  font-size: 24px;
  padding: 20px ;
  margin-right: 12px;
  text-align: center;
  width: 60px;
  height: 60px;
  color:#F4A5AE;
}
.services_item--description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align:left;
}
.services_item--title{
  margin-bottom:16px;
}
.services_item--para{
 color:#7C8BA1;
 line-height: 2;
}
/*Quality */
.quality-container{
  padding: 96px 0;
  display: flex;
  justify-content: center;
 
}
.right-description{
  padding-right:32px  ;
 
}

.content--text-right{
text-align: left;
}
/*Steps */
.steps-container{
  padding: 96px 0;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.steps--list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
 
}
.steps--content{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 32px;
  margin-right: 10%;
}
.steps--group{
 display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
}
.steps--num{
  font-size:36px;
  color: #cbd5e0;
}
.steps--title{
  font-size: 20px;
  ;
  margin-bottom: 10px;
}
.steps--para{
font-size: 14px;
color: #718096;
}
/*Value*/
.value-list{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.value-item{
  width: 200px;
  margin-right: 20px;
}
.value-item-group{
  margin-top: 32px;
  margin-bottom: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.value-icon{
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  font-size: 16px;
  padding: 8px ;
  margin-right: 12px;
  text-align: center;
  width: 40px;
  height: 40px;
  color:#F4A5AE;
}
.value-green{
  border: solid #9ae6b4 1px;
  background-color:#9ae6b4 ;
  color:#5d896c;
}
.value-blue{
  border: solid #a4ebf1 1px;
  background-color:#a4ebf1 ;
  color:#5b8c90;
}
/*Pricing*/
.plan-list{
margin-top: 20px;
display: flex;
 
}

.plan-item{
  margin-right:20px;
  border-radius:10px;
  max-width:300px;
}

.plan-item--strip{
  
  border-radius:10px 10px 0px 0px;
  height:10px;
 
}
.plan-item--top{
  border: solid #c0c5c2ad 1px;
}
.plan-item--top-description{
  padding: 32px 0px;
}
.plan-item--title{
  font-size: 20px;
}
.plan-item--price{
  font-size:36px;
  padding: 8px 0px;
}
.plan-item--month{
  color: #a2a9b0;
}
.plan-item--mid{
  padding: 32px;

  border: solid #c0c5c2ad 1px;
}
.plan-item--para{
margin-top: 20px;
text-align: center;
}
.plan-item--bot{
  border: solid #c0c5c2ad 1px;
  border-radius:0px 0px 10px 10px;
  padding: 32px;
  display: flex;
  justify-content: center;
}
.plan-item--button{
padding: 16px 64px;
border-radius: 100px;
border: none;
font-weight: bold;
color:white;
transition: all .3s ease;
}
.plan-item--button:hover{
  transform: translateY(-2px);
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1)

}
.strip-button-green{
  background: linear-gradient(90deg,#4dc1b9 0%, #77dfd3 80%);
}
.strip-button-red{
  background: linear-gradient(90deg,#e41c1c 0%, #e47f7f 80%);
}
.strip-button-blue{
  background: linear-gradient(90deg,#0e2c46 0%, #174873 80%);
  border: none;
}
.strip-button-blue-line{
  border: solid #2e76b5 1px;
}

.white-button{
  background: white;
  color:#174873
}
.white-button:hover{
  background: rgb(213, 213, 213);
  color:#0e2c46
}
.plan-item--flex{
  padding-top: 10px;
  display:  flex;
  justify-content: center;
  align-items: center;
}
.plan-item--flex-match{
  padding-bottom:10px ;
}
.plan-item--more-button{
  border: none;
  background: none;
  font-size: 40px; 
}
/*Testimon */
.test-container{
  padding: 96px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 
}
.test--stars{
 margin-bottom: 16px;
 color: #fabf2a;
}
.test--star-space{
  margin-right: 4px;
  
}
.test-layout--bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.test--cat{
  display: flex;
  align-items: center;
}
.test--cat-photo-container{
  width: 100px;
margin-right: 32px;
  
 
}
.test--cat-photo{
  border-radius:100%
}
.test-buttons--container{
  display: flex;
  justify-content: space-between;
}
.test-buttons{
  border: none;
  border-radius: 100px;
  font-size: 20px;
  padding: 10px 14px;
  margin: 0px 16px;
  color: #174873;
  background-color: #F4A5AE;
  transition: all .3s ease;
}
.test-buttons--line{
  border-right:2px solid rgb(215, 215, 215) ;
}
.test-buttons:hover{
  color: #113452;
  background-color: #d08e96;
}

/*FAQ*/
.faq-list{
  margin-top: 48px;
}
.faq-item{
  background-color: #edf2f7;
  max-width: 896px;
  padding: 24px;
  border-radius: 4px;
  transition: all .3s ease;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.faq-item:hover{
  background-color: #e2e3e3;
}
.faq-item--group{
  display: flex;
  justify-content: space-between;
}
.faq-item--button{
  margin-left: 200px;
  border: none;
  background: none;
  font-size: 20px;
  transition: all ease-in-out;  
}
.faq-item--para{
  margin-top: 8px;
  max-width: 770px;
}
/*INtro */
.intro-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg,#0e2c46 0%, #174873 80%);
  color: white;
  padding: 64px 32px;
  border-radius: 8px;
  margin: 0px 20px;
}
.intro-text{
text-align: left;
max-width: 650px;
margin-right: 20px;

}
.intro-button{
   color: white;
   border: 1px solid white;
   background: none;
   margin-right: 20px;
   padding:20px 40px ;
   border-radius:100px;
    font-size: 16px;
    font-weight: bold;
    transition: all .3s ease;
}
.intro-button:hover{
  background-color: white;
  color: #174873;
}
.intro-button--red{
  background-color:#f56565;
  border:none;
}
.intro-button--red:hover{
  background-color:#d35656;
  color: rgb(231, 231, 231);
}
.intro-buttons{
  display: flex;
  align-items: center;
}

/*Footer */ 
footer{
  background: linear-gradient(90deg, #174873 0%,#0e2c46 80%);
}

.footer-container{
  padding: 96px 16px;
  
}
.footer-list{
  display: flex;
  align-items: center;
  justify-content: space-between
}
.footer-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  margin-right:20px;
}
.footer-item-list{
  flex-direction: column;
  align-items: flex-start;
}
.footer-item-list >li{
  margin-top: 8px;
}
.footer_link{
  color: white;
 
}
.footer_link-line{
  transition: all .3s ease;
}
.footer_link-line:after{
  content: "";
  position: absolute;
  height: 2px;
  background-color: white;
  bottom: -3px;
  left:0;
  width:100%;
  opacity: 0;
  transition: all .3s ease;
}
.footer_link-line:hover:after{
  opacity:100%;
}
.footer--linespace{
  margin: 64px 0px;
  background-color:#2e76b5;
  border: none;
  height: 1px;
}
.footer-bottom{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:white;
}
.footer-logo{
  filter: grayscale(1);
}
.footer--button{
  width: 40px;
  height: 40px;
  text-align: center;
   border: none;
   background-color: white;
   color: #F4A5AE;
   margin-right: 8px;
   font-size: 16px;
   padding: 8px 10px;
   border-radius: 100px;
   transition: all .3s ease;
}
.footer--button:hover{
  background-color: rgb(202, 200, 200);
  color: #c28088;
}
/* animations*/

@keyframes slideInLeft{
  from{
transform: translateX(-1600px);
filter: blur(15px);
  }
  to{
    transform: translateX(0);
    filter: blur(0);
  }
}
@keyframes slideInRight{
  from{
      transform: translateX(1600px);
      filter: blur(15px);
  }
  to{
    transform: translateX(0);
    filter: blur(0);
  }
}
.section--left.show{
animation: slideInLeft 0.8s ease-in 0s 1 normal both;
opacity: 1;

}
.section--right.show{
  animation: slideInRight 0.8s ease-in 0s 1 normal both;
  opacity: 1;
}
.section--left{
  opacity: 0;
}
.section--right{
  opacity: 0;
}



/*Small phones, tablets, large smartphone   */ 
@media (max-width: 768px){
  .btn__menu{
  display: inline;
  margin-right: 16px;
  border: none;
  background: none;
  font-size: 32px;
  color: #174873;
}
.menu__drop{
  position: fixed;
  top: 10px;
  left:2%;
  
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  width: 97vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  
}
.menu__links{
 display: flex;
 flex-direction: column;
 align-items:center;
 padding: 0%  20%  0%  40%;
 justify-content: space-between;
}
.menu_list{
  margin: 8px 0px;
  font-size: 20px;
  font-weight: 500;
  
}
.menu_link{
   color: black;
}
.nav__link--primary{

  margin: 24px 0px;

}
.nav__link--primary > a{
color: #F4A5AE;
}

.nav__list{
  display: none;
}

  .started--container{
    flex-direction: column;
    align-items: center; 
  }
.content--description{
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
}
.content-section{
  flex-direction: column;
    align-items: center; 
  
}
.content--text-right {
  text-align: center;
}
.content-section--para-left{
  text-align: center;
}
.services_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.services_item{ 
  width: 80%;
  
}
.content--img-container{
  padding: 0px 24px;
}
.quality-container{
  flex-direction: column;
  align-items: center;
}
.steps-container{
  padding: 96px 0px 20px 0x;
  flex-direction: column;
  align-items: center;
}
.steps--list{
  align-items: center;
}
.steps--content{
  display: flex;
  flex-direction: column;
  align-items: center;
  
 

  
}
.steps--group{
  align-items: center;
  text-align: center;
}
.value-list{
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.value-item{
  flex-direction: column;
  align-items: center;

  width: 80vw;
}
.value-item-group{
  justify-content: center;
}

.plan-list{
  flex-direction: column;
   
  }
  .plan-item{
    margin-bottom: 20px;
  }
  .test-container{
    flex-direction: column;
    align-items: center;
  }
  .test--stars{
    text-align: center;
  }
  .intro-container{
    flex-direction: column;
    align-items: center;
  }
  .intro-buttons{
    margin-top: 20px;
  }
  .intro-text{
    text-align: center;
  }
  .faq-item--button{
    margin-left: 20%;
  }
.footer-list{
flex-wrap: wrap;
justify-content: flex-start;
}
.footer-item{
  margin-bottom: 20px;
  width: calc(100%/4);
}
.footer-bottom{
  flex-direction: column;
}
.footer--buttons-group{
  margin: 20px;
}
} 
/*Small Phones*/
@media (max-width: 480px){
  .menu_list{
    font-size: 16px;
  }
  .nav__link--primary{
    padding:  8px 28px;
font-weight: 500;
  }
  .input-container{
    margin: 0px 0px 32px 0px;
    border: none;
    display: flex;
    flex-direction: column;
  }
  
  .input-container--mobile{
  
  border: solid #cfcdcd 2px;
  border-radius: 50px;
  padding: 10px 10px 10px 32px;
  width: 80vw;

  margin-bottom: 24px;
  transition: all .3s ease;
  
}
.input-container--mobile:hover{
  border: solid #a5a5a5 2px;
}
.input-container--mobile:focus-within {
  border: solid #F4A5AE 2px;
}
.input-container:hover{
  border: none;
}
.input-container:focus-within {
  border: none;
}
.test-container{
  flex-direction: column;
  align-items: center;
  padding: 0px 8px;
}
.test-layout--bottom{
  flex-direction: column;
  align-items:center ;

}
.test-buttons--container{
  margin-top: 20px;
}
.intro-buttons{
  display: flex;
  flex-direction: column;
  
}
.intro-button--red{
  margin-bottom: 16px;
}
.footer-list{
  flex-wrap: wrap;
  justify-content: center;
  }
  .footer-item{
    margin-bottom: 20px;
    width: calc(100%/4);
  }

}

 